body{
    margin: 0;/*Que no haya margin y padding que da el navegador default para que nosotros lo manipulemos mas adelante*/
    padding: 0;
    font-size: 13 px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;/*para que el header ocupe todo el ancho de la pantalla*/
    height: 60 px;
}
/*Busca una etiqueta nav que este dentro de la etiqueta header*/
header nav {
    display: flex;
    justify-content: flex-end;
}



